{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="text-uppercase color px-5 py-5">
        <h1 class="font">Hesionalis'</h1>
        <h1 class="font">tattoo</h1>
        <h1 class="font">artists</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for artist in artists %}
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
            <div class="card border-0 shadow">
                <img src="{{ artist.image_url }}" class="card-img-top" alt="{{ artist.name }} photo">
                <div class="card-body text-center bg-color">
                    <h5 class="card-title mb-0 font">{{ artist.name }}</h5>
                    <div class="card-text font-2">Skilled in: {{ artist.skills }}</div>
                    <div class="card-text pb-1 font-2">Gender: {{ artist.gender }}</div>
                    <a class="btn bg-btn-color text-uppercase text-white font-2 dark-blue" href="{% url 'create_appointment' %}" alt="Go to booking appointment">Book Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{%endblock%}