{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>hesionalis</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand font">hesionalis</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'artists' %}" class="nav-link">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'styles' %}" class="nav-link">Styles</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'create_appointment' %}" class="nav-link">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'faq' %}" class="nav-link">FAQ</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'appointment' %}" class="nav-link">Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'edit_profile' %}" class="nav-link">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>
                    {%endif %}
                </ul>
            </div>
        </div>
    </nav>


    <main class="flex-shrink-0 main-bg">
        {% include 'messages.html' %}
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
            </section>
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">hesionalis</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="{% url 'artists' %}" class="text-white">Artists</a>
                            </li>
                            <li>
                                <a href="{% url 'styles' %}" class="text-white">Styles</a>
                            </li>
                            <li>
                                <a href="{% url 'create_appointment' %}" class="text-white">Bookings</a>
                            </li>
                            <li>
                                <a href="{% url 'faq' %}" class="text-white">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Location</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                61 South Street
                            </li>
                            <li>
                                London
                            </li>
                            <li>
                                SE86 7UX
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Hours</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                Mon – Sat: 10:00AM – 8:00PM
                            </li>
                            <li>
                                Sun: 10:00AM – 6:00PM
                            </li>
                        </ul>
                        <h5 class="text-uppercase">Phone number</h5>
                        <ul class="list-unstyled mb-0">
                            <li>+4486 573 3298</li>
                        </ul>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script src="https://kit.fontawesome.com/967a4d433b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <script>
        const message = document.getElementById("msg");

        setTimeout(function(){ 
            message.style.display = "none"; 
        }, 3000);
    </script>
</body>

</html>