{% extends 'base.html' %}
{% block content %}

<div class="text-center font">
    <h1 class="text-uppercase color my-3">Update Password</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="my-2">
            <label for="{{change_password.old_password.id_for_lable}}" class="color">Old Password</label>
            <div class="mt-2">
                {{ change_password.old_password }}
            </div>
        </div>

        <div class="my-2">
            <label for="{{change_password.new_password1.id_for_lable}}" class="color">New Password</label>

            <div class="mt-2">
                {{ change_password.new_password1 }}
            </div>
        </div>

        <div class="my-2">
            <label for="{{change_password.new_password2.id_for_lable}}" class="color">Re-type Password</label>

            <div class="mt-2">
                {{ change_password.new_password2 }}
            </div>
        </div>

        <div>
            <button type="submit" class="btn bg-btn-color btn-xl text-uppercase text-white mt-3 dark-blue">
                Change Password
            </button>
        </div>
    </form>
</div>

{% endblock %}