{% extends "base.html" %}

{% block content %}

<section class="text-center text-light py-5" id="tattoo-heart">
    <div class="container font">
        <h1 class="font-size pt-4 mt-5 text-uppercase">Start Your <span class="color">Adventure</span> Of</h1>
        <h1 class="font-size text-uppercase pb-2">Self Exploration With Us!</h1>
        <a class="btn bg-btn-color btn-xl text-uppercase text-white dark-blue" href="{% url 'create_appointment' %}" aria-label="Go to booking appointment">Book Now</a>
    </div>
</section>

<section>
    <div class="container text-center text-white my-5 font">
        <h1 class="color">ABOUT US</h1>
        <h3>Welcome to <span class="color">hesionalis</span>, where art meets skin and self-expression knows no boundaries. Our tattoo salon is a haven for those seeking unique body art experiences. Located in London, our team of artists is dedicated to turning your vision into a reality.</h3>
        <h3>At hesionalis, we understand that a tattoo is more than just ink on the surface. It is an embodiment of your individuality, personal stories, and meaningful connections. With this understanding, our artists work closely with each client to create custom designs that reflect their desires.</h3>
        <h3 class="pb-2">Our team comprises accomplished artists who have mastered various tattooing styles, from traditional and neo-traditional to realism, watercolor, blackwork, and beyond. Their expertise and artistic flair ensure that every tattoo created at our salon is a true masterpiece, crafted with precision, skill, and attention to detail.</h3>
        <a class="btn bg-btn-color btn-lg text-uppercase text-white dark-blue" href="{% url 'create_appointment' %}" aria-label="Go to booking appointment">Book Now</a>
    </div>
</section>

<section class="page-section mb-3" id="portfolio">
    <div class="container text-white">
        <div class="text-center">
            <h2 class="section-heading text-uppercase pt-3 pb-1 font color">Portfolio</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="https://res.cloudinary.com/dehoeoirf/image/upload/v1688562049/photo_2023-05-24_13-25-31_jrjy2p.png" alt="Tattoo done by Iona Wilke">
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">By Iona Wilke</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="https://res.cloudinary.com/dehoeoirf/image/upload/v1688572932/photo_2023-05-24_13-25-26_m6i1ns.png" alt="Tattoo done by Kirsten Wood">
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">By Kirsten Wood</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="https://res.cloudinary.com/dehoeoirf/image/upload/v1688573007/photo_2023-05-24_13-25-20_xikltv.png" alt="Tattoo done by Odrija Dansone">
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">By Odrija Dansone</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="portfolio-item">
                    <img class="img-fluid" src="https://res.cloudinary.com/dehoeoirf/image/upload/v1688562020/photo_2023-05-24_13-25-28_apsqjj.png" alt="Tattoo done by Ivan Tolosana">
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">By Ivan Tolosana</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="page-section bg-color py-5 font-2" id="services">
    <div class="container color-2">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading pb-2">We're here to do our best!</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fa-solid fa-comments"></i>
                <h4 class="my-3">Consultation</h4>
                <p>We're consulting free of charge and no need to book. Just give us a call or come around to our studion and we'll talk it through!</p>
            </div>
            <div class="col-md-4">
                <i class="fa-solid fa-palette"></i>
                <h4 class="my-3">Tattooing</h4>
                <p>All tattooing is done with sterilized tools and we make sure you're getting exactly what you want here.</p>
            </div>
            <div class="col-md-4">
                <i class="fa-solid fa-paintbrush"></i>
                <h4 class="my-3">Touch Up</h4>
                <p>If you got a tattoo from us and it's fading out, don't worry! We'll do a touch up free of charge because we want our art to last as long as possible on you.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="team">
    <div class="container font">
        <div class="text-center">
            <h2 class="section-heading text-uppercase color py-3">Founders</h2>
        </div>
        <div class="row text-white text-center">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="team-member">
                    <img class="img-fluid rounded-circle founders" src="https://res.cloudinary.com/dehoeoirf/image/upload/v1688575629/pexels-dziana-hasanbekava-7626615_cly7lo.jpg" alt="Kim Bain, founder of hesionalis">
                    <h4 class="mt-1">Kim Bain</h4>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://twitter.com/" aria-label="Kim Bain Twitter Profile" target="_blank" alt="Kim Bain twitter link"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://www.facebook.com/" aria-label="Kim Bain Facebook Profile" target="_blank" alt="Kim Bain facebook link"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://www.linkedin.com/" aria-label="Kim Bain LinkedIn Profile" target="_blank" alt="Kim Bain linkedin link"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="team-member">
                    <img class="img-fluid rounded-circle founders" src="https://res.cloudinary.com/dehoeoirf/image/upload/v1688575625/pexels-polinach-16767569_q7s5vw.jpg" alt="Louise Mcleish, founder of hesionalis">
                    <h4 class="mt-1">Louise Mcleish</h4>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://twitter.com/" aria-label="Louise Mcleish Twitter Profile" target="_blank" alt="Louise Mcleish twitter link"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://www.facebook.com/" aria-label="Louise Mcleish Facebook Profile" target="_blank" alt="Louise Mcleish facebook link"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://www.linkedin.com/" aria-label="Louise Mcleish LinkedIn Profile" target="_blank" alt="Louise Mcleish linkedin link"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
                <div class="team-member">
                    <img class="img-fluid rounded-circle founders" src="https://res.cloudinary.com/dehoeoirf/image/upload/v1688575622/pexels-michael-burrows-7147701_sui04b.jpg" alt="Nicola Norrie, founder of hesionalis">
                    <h4 class="mt-1">Nicola Norrie</h4>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://twitter.com/" aria-label="Nicola Norrie Twitter Profile" target="_blank" alt="Nicola Norrie twitter link"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://www.facebook.com/" aria-label="Nicola Norrie Facebook Profile" target="_blank" alt="Nicola Norrie facebook link"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2 dark-blue" href="https://www.linkedin.com/" aria-label="Nicola Norrie LinkedIn Profile" target="_blank" alt="Nicola Norrie linkedin link"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center text-white font-2">
        <div>
            <h2 class="section-heading text-uppercase color py-3">Clients' Reviews</h2>
        </div>
        <div class="pb-3">
            <i class="fa-solid fa-star"></i>
            <h3>Wonderful friendly staff! Super clean studio, welcoming atmosphere! Thank you so much for my awesome tattoos! Also given free beverages while I was going through ideas.</h3>
            <h3 class="color">David Radyson</h3>
        </div>
        <div class="pb-3">
            <i class="fa-solid fa-star"></i>
            <h3>What a great place to go! I've been to a lot of places but I have never been anywhere that compares to this upbeat and modern studio. Thank you for the tattoo!</h3>
            <h3 class="color">Marcus Anderson</h3>
        </div>
        <div class="pb-3">
            <i class="fa-solid fa-star"></i>
            <h3>I had an amazing experience at Hesionalis! The artists were extremely talented and took the time to understand what I wanted. The studio has a great vibe and I felt comfortable throughout the entire process. Highly recommend!</h3>
            <h3 class="color">Sarah Thompson</h3>
        </div>

    </div>
</section>

<section id="ready">
    <div class="bg-color text-center font">
        <h2 class="py-3">Ready to get a Tattoo?</h2>
        <a class="btn bg-btn-color btn-lg text-uppercase text-white mb-3 dark-blue" href="{% url 'create_appointment' %}" aria-label="Go to booking appointment">Book Now</a>
    </div>
</section>

{%endblock%}