{% extends "base.html" %}

{% block content %}

<div class="container text-center text-uppercase font">
    <h1 class="color pb-2 pt-5 font">Express yourself with a tattoo</h1>
    <a class="btn bg-btn-color btn-lg text-uppercase text-white mb-5 font" href="{% url 'create_appointment' %}">Book Now</a>
</div>

<div class="container">
    <div class="row">
        {% for design in designs %}
        <div class="col-xl-3 col-md-6 col-sm-12 mb-4">
            <div class="card border-0 shadow">
                <img src="{{ design.image }}" class="card-img-top" alt="{{ design.category }} photo">
                <div class="card-body text-center bg-color">
                    <h5 class="card-title mb-0 font">{{ design.category }}</h5>
                    <div class="card-text font-2">Done by: {{ design.artist }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}